{#- From top_level_assets we recursively create the installer checkbox structure #}
{%- macro render(top_level_assets)%}


{%- for asset in top_level_assets %}
{{- process_asset(asset, "" ) }}
{%- endfor %}
{%- endmacro%}

{%- macro process_asset(asset, spaces) %}
    {{- section_or_section_group_open(asset, spaces) }}
    {{- process_asset_items_wrapper(asset, spaces) }}
    {%- if asset._children is not none %}
        {%- for child in asset._children %}
            {{- process_asset(child, spaces + "    ") }}
        {%- endfor %}
    {%- endif %}
    {{- section_or_section_group_close(asset, spaces) }}
{%- endmacro -%}


{%- macro section_or_section_group_open(asset, spaces) %}
{%- if asset._children is not none%}
    {%- set prefix_bold = "!" if asset._dl_dir is not none else "" %}
    {%- set prefix_dependancy = "DEPENDANCY: " if asset._dl_dir is not none else ""%}
{{ spaces }}SectionGroup "{{ prefix_bold }}{{ prefix_dependancy }}{{ asset.basename if asset.category_name is none else asset.category_name }}" "{{ asset._uuid + "_install" }}"
    {%- else%}
{{ spaces }}Section "{{ asset.basename if asset.category_name is none else asset.category_name }}" "{{ asset._uuid + "_install" }}"
{%- endif%}
{%- endmacro -%}


{%- macro section_or_section_group_close(asset, spaces) %}
{%- if asset._children is not none %}
{{ spaces }}SectionGroupEnd
{%- else%}
{{ spaces }}SectionEnd
{%- endif%}
{%- endmacro -%}


{#- We need this wrapper because NSIS won't let us do actions inside a SectionGroup#}
{#- So we're making a category child Section for any asset that has children (SectionGroup). #}
{%- macro process_asset_items_wrapper(asset, spaces) %}
    {%- if asset._children is not none and asset._dl_dir is not none %}
{{ spaces }}    Section  "{{ asset.basename if asset.category_name is none else asset.category_name }}" "{{ asset._uuid + "_install_bespoke" }}"
        {{- process_asset_items(asset, spaces + "    ") }}
{{ spaces }}    SectionEnd
    {%- else %}
        {{- process_asset_items(asset, spaces) }}
    {%- endif%}
{%- endmacro -%}


{%- macro process_asset_items(asset, spaces) %}
    {%- if asset.asset_type in ["livery", "shared", "roughmets"] %}
            {{- asset_section(asset, spaces) }}
    {%- endif %}
{%- endmacro -%}


{%- macro asset_section(asset, spaces) %}
{%- set asset_size = (asset._size_in_bytes / 1024) | int  %}
{{ spaces }}    AddSize {{ asset_size }}
{%- endmacro -%}
