#!/usr/bin/env bash

set -e
DEST="{{ dest }}"
mkdir -p "$DEST"
COMPRESSION="-mx=9"
if [ "{{ minimal_sample_size }}" = "true" ]
then  
  COMPRESSION="-mx=1"
fi

7z a -bd -bb0 $COMPRESSION "$DEST/RED STAR BIN.7z" "RED STAR BIN"
{% for roughmet in roughmets %}
pushd "{{ roughmet['roughmet_directory'] }}"
    {%- for file in roughmet['files'] %}
7z a -bd -bb0 $COMPRESSION "$DEST/RED STAR ROUGHMETS_{{ category }}.7z" "{{ file }}"
    {%- endfor %}
popd
{%- endfor %}

{%- for livery_type in [rs_liveries, rsc_liveries] %}
    {% for livery in livery_type %}
pushd "{{ livery["dcs_airframe_codename"] }}"
7z a -bd -bb0 $COMPRESSION "$DEST/{{ livery["livery_base_dirname"] }}.7z" \
        "{{ livery["livery_base_dirname"] }}" {%-if not livery["livery_pilot_dirs"] | length == 0 %} \{% endif %}
        {%- for pilot_dir in livery["livery_pilot_dirs"] %}
        "{{ pilot_dir }}" {%- if not loop.last %} \{%- endif %}
        {%- endfor %}
        {%- if delete_after_compress == "true" %}
rm -rf "{{ livery["livery_base_dirname"] }}" 
            {%- for pilot_dir in livery["livery_pilot_dirs"] %}
rm -rf "{{ pilot_dir }}"
            {%- endfor %}
        {%- endif %}
popd

    {%- endfor %}
{%- endfor %}
