#!/usr/bin/env bash

set -e
DEST="{{ dest }}"
STAGING_DIR="{{ staging_dir }}"
# Compression explained
# -m=7z - type of compression
# -myx=9 - maximum file analysis (5 is default)
# -mx=9 - highest level of LZMA2 compression
# -mmt=32 Try for 32 threads or use available
COMPRESSION="-m=7z -myx=9 -mx=9 -mmt=256"
if [ "{{ minimal_sample_size }}" = "true" ]
then  
  COMPRESSION="-m=7z -mx=1 -mmt=256"
fi

cd "${STAGING_DIR}"

7z a -bd -bb0 $COMPRESSION "${DEST}/RED STAR BIN.7z" "RED STAR BIN"
{%- if delete_after_compress == "true" %}
rm -rf "RED STAR BIN"
{%- endif %}

{% for roughmet in roughmets %}
pushd "{{ roughmet['roughmet_directory'] }}"
7z a -bd -bb0 $COMPRESSION "$DEST/{{ roughmet['roughmet_directory_basename'] }}.7z"  {%- for file in roughmet['files'] %} "{{ file }}" {%- endfor %}
{%- if delete_after_compress == "true" %}
rm -rf "{{ roughmet['roughmet_directory'] }}"
{%- endif %}
popd
{%- endfor %}
{% for livery_type in [rs_liveries, rsc_liveries] %}
    {% for livery in livery_type %}
pushd "{{ livery["dcs_airframe_codename"] }}"
7z a -bd -bb0 ${COMPRESSION} "${DEST}/{{ livery["livery_base_dirname"] }}.7z" \
        "{{ livery["livery_base_dirname"] }}" {%-if not livery["livery_pilot_dirs"] | length == 0 %} \{% endif %}
        {%- for pilot_dir in livery["livery_pilot_dirs"] %}
        "{{ pilot_dir }}" {%- if not loop.last %} \{%- endif %}
        {%- endfor %}
        {%- if delete_after_compress == "true" %}
rm -rf "{{ livery["livery_base_dirname"] }}" 
            {%- for pilot_dir in livery["livery_pilot_dirs"] %}
rm -rf "{{ pilot_dir }}"
            {%- endfor %}
        {%- endif %}
popd

    {%- endfor %}
{%- endfor %}
