{#- Generate a final and hidden section which will "resolve" the status of all the checkboxes into a installer solution #}
{%- macro render(all_assets, github_ref_name) %}
Section "-Resolve checkboxes"
{%- for asset in all_assets %}
    {%- set asset_resolved_id = asset._uuid + "_install" %}
    {%- if asset._children is not none and asset._dl_dir is not none %}
        {%- set asset_resolved_id = asset._uuid + "_install_bespoke" %}
    {%- endif %}
    {%- if asset.asset_type == "livery" %}
        {{- resolve_asset_items_livery(asset, asset_resolved_id, github_ref_name) }}
    {%- elif asset.asset_type == "shared" %}
        {{- resolve_asset_items_shared(asset, asset_resolved_id, github_ref_name) }}
    {%- elif asset.asset_type == "roughmets_single" %}
        {{- resolve_asset_items_roughmets_single(asset, asset_resolved_id, github_ref_name) }}
    {%- endif %}
{%- endfor %}
SectionEnd

{%- endmacro %}


{%- macro resolve_asset_items_livery(asset, asset_resolved_id, github_ref_name) %}
    ${If} ${SectionIsSelected}  {{ '${' }}{{asset_resolved_id}}{{ '}' }} ; asset.basename: {{asset.basename}} // asset.category_name: {{asset.category_name}}
        !insertmacro DownloadExtract "https://github.com/red-star-squadron/rs-liveries/releases/download/{{ github_ref_name }}/{{ asset.basename | replace(" ", ".") }}" "$TEMP\{{ asset.basename }}.7z"  "$INSTDIR\{{ asset.dcs_codename}}" "{{ asset.basename }}"
    ${ElseIfNot} ${SectionIsSelected}  {{ '${' }}{{asset_resolved_id}}{{ '}' }} ; asset.basename: {{asset.basename}} // asset.category_name: {{asset.category_name}}
    {%- for asset_dir in asset._asset_dirs %}
        RMDir /r "$InstDir\{{ asset.dcs_codename }}\{{ asset_dir }}"
    {%- endfor %}
        !insertmacro RemoveEmptyDir "$InstDir\{{ asset.dcs_codename }}"
    ${EndIf}
{%- endmacro -%}


{%- macro resolve_asset_items_shared(asset, asset_resolved_id, github_ref_name) %}
    ${If} ${SectionIsSelected}  {{ '${' }}{{asset_resolved_id}}{{ '}' }} ; asset.basename: {{asset.basename}} // asset.category_name: {{asset.category_name}}
        !insertmacro DownloadExtract "https://github.com/red-star-squadron/rs-liveries/releases/download/{{ github_ref_name }}/{{ asset.basename | replace(" ", ".") }}" "$TEMP\{{ asset.basename }}.7z" "$INSTDIR" "{{ asset.basename }}"
    ${ElseIfNot} ${SectionIsSelected}  {{ '${' }}{{asset_resolved_id}}{{ '}' }} ; asset.basename: {{asset.basename}} // asset.category_name: {{asset.category_name}}
        RMDir /r "$InstDir\{{ asset.basename }}"
        !insertmacro RemoveEmptyDir "$InstDir\{{ asset.basename }}"
    ${EndIf}
{%- endmacro -%}


{%- macro resolve_asset_items_roughmets_single(asset, asset_resolved_id, github_ref_name) %}
    ${If} ${SectionIsSelected}  {{ '${' }}{{asset_resolved_id}}{{ '}' }} ; asset.basename: {{asset.basename}} // asset.category_name: {{asset.category_name}}
        !insertmacro DownloadExtract "https://github.com/red-star-squadron/rs-liveries/releases/download/{{ github_ref_name }}/{{ asset.basename | replace(" ", ".") }}" "$TEMP\{{ asset.basename }}.7z" "$ProgramFilesDir\Bazar\TempTextures" "{{ asset.basename }}"
    ${ElseIfNot} ${SectionIsSelected}  {{ '${' }}{{asset_resolved_id}}{{ '}' }} ; asset.basename: {{asset.basename}} // asset.category_name: {{asset.category_name}}
{%- for roughmet_file in roughmet_files %}
            Delete "$ProgramFilesDir\Bazar\TempTextures\{{ roughmet_file}}"
{%- endfor %}
            RMDir /r "$ProgramFilesDir\Bazar\TempTextures\{{ asset.basename }}"   {#- This removes the cheksum dir for roughmets #}
    ${EndIf}
{%- endmacro -%}
