param($dcs_liveries_root_dir, $pilot)
#
# Red Star Liveries - Livery priorities
# This script changes the livery priorities based on user choice selected in the installer
#

#
# NO WARRANTY WHATSOEVER
#

# Exit on any error
$ErrorActionPreference = "Stop"


function DescriptionLuaReplace {
    param (
        $luafile,
        $pilot,
        $is_basename
    )
    if (-not (Test-Path $luafile)) {
        Write-Host "Pilot luafile not present. Proceeding: $luafile"
        Return
    }
    if ("$pilot" -eq "-- STREAMER / YOUTUBER --" ){
        Write-Host "Setting livery priority to low: $luafile"
        (Get-Content -path "$luafile") -replace '^order += +-?\d+','order = 9999' | Set-Content -Path "$luafile"
    } elseif ("$pilot" -eq "-- RS SQUAD BUT NOT IN LIST --" ) {
        if (-not ($is_basename)) {
            Write-Host "Setting pilot livery priority to low: $luafile"
            (Get-Content -path "$luafile") -replace '^order += +-?\d+','order = 9999' | Set-Content -Path "$luafile"
        } elseif ($is_basename) {
            Write-Host "Setting base livery priority to high: $luafile"
            (Get-Content -path "$luafile") -replace '^order += +-?\d+','order = -2' | Set-Content -Path "$luafile"
        }
    } else {
        if (((Get-Item "$luafile").Directory | Split-Path -Leaf | Select-String -CaseSensitive -SimpleMatch "$pilot") -and (-not ($is_basename))) {
            Write-Host "Setting your livery to priority highest: $luafile"
            (Get-Content -path "$luafile") -replace '^order += +-?\d+','order = -3000' | Set-Content -Path "$luafile"
        } elseif ($is_basename) {
            Write-Host "Setting base livery priority to high: $luafile"
            (Get-Content -path "$luafile") -replace '^order += +-?\d+','order = -2' | Set-Content -Path "$luafile"
        } else {
            Write-Host "Setting teammate pilot livery to lowest: $luafile"
            (Get-Content -path "$luafile") -replace '^order += +-?\d+','order = 9999' | Set-Content -Path "$luafile"
        }
    }
}

{%- for asset in assets %}
    {%- if asset.asset_type == "livery"%}
DescriptionLuaReplace -pilot "$pilot" -luafile "$dcs_liveries_root_dir\{{ asset.dcs_codename }}\{{ asset.basename }}\description.lua" -is_basename $true
        {%- for pilot_dir in asset.pilot_dirs %}
DescriptionLuaReplace -pilot "$pilot" -luafile "$dcs_liveries_root_dir\{{ asset.dcs_codename }}\{{ pilot_dir }}\description.lua" -is_basename $false
        {%- endfor %}
    {%- endif %}
{%- endfor %}
