{# Render function should accept a list of ALL assets, not just the top-level ones #}

{# We are trying to simulate this:

SectionGroup "Parent Group" parentGroupId
    Section "-hiddenBoi" hiddenBoiId
    SectionEnd
    Section "visible boi 1" visibleBoi1
    SectionEnd
    Section "visible boi 2" visibleBoi2
    SectionEnd
SectionGroupEnd

Function .onSelChange

    ${IfNot} ${SectionIsSelected}  ${visibleBoi1}
    ${AndIfNot} ${SectionIsSelected}  ${visibleBoi2}
        !insertmacro UnselectSection ${hiddenBoiId}
        MessageBox MB_OK "Auto DESELECTED HiddenBoi"
    ${EndIf}

    ${If} ${SectionIsPartiallySelected}  ${parentGroupId}
    ${OrIf} ${SectionIsSelected}  ${parentGroupId}
        !insertmacro SelectSection ${hiddenBoiId}
        MessageBox MB_OK "AutoSelected HiddenBoi"
    ${EndIf}

FunctionEnd
#}

{# Essential resource for this work: https://nsis.sourceforge.io/Managing_Sections_on_Runtime #}

{%- macro render(all_assets) %}
{%- for asset in all_assets %}
    {%- if asset._children is not none and asset._dl_dir is not none %} 
    ; Hidden section install ACTIVATIONS for: {{print_available_name(asset)}}
            {{- dependancy_install_select_parent(asset) }}

    {%- endif %}
{%- endfor %}
{%- endmacro%}


{#- Selects a parent if any of the children are clicked #}
{#- Applies to install items only #}
{%- macro dependancy_install_select_parent(parent) %}
    {%- for child in parent._children %}
        {%- if child == parent._children[0] %} {# First element in the loop has 'If', others have 'OrIf'#}
    ${If} ${SectionIsSelected}  {{ '${' }}{{child._uuid + "_install"}}{{ '}' }} ; child.basename: {{child.basename}} // child.category_name: {{child.category_name}}
    ${OrIf} ${SectionIsPartiallySelected}  {{ '${' }}{{child._uuid + "_install"}}{{ '}' }} ; child.basename: {{child.basename}} // child.category_name: {{child.category_name}}
        {%- else %}
    ${OrIf} ${SectionIsSelected}  {{ '${' }}{{child._uuid + "_install"}}{{ '}' }} ;  child.basename: {{child.basename}} // child.category_name: {{child.category_name}}
    ${OrIf} ${SectionIsPartiallySelected}  {{ '${' }}{{child._uuid + "_install"}}{{ '}' }} ;  child.basename: {{child.basename}} // child.category_name: {{child.category_name}}
        {%- endif %}
    {%- endfor %}
        !insertmacro SelectSection {{ '${' }}{{parent._uuid + "_install_bespoke"}}{{ '}' }} ;  parent.basename: {{parent.basename}} // parent.category_name: {{parent.category_name}}
    ${EndIf}
{%- endmacro %}


{#- helper function to print the available name or category_name #}
{%- macro print_available_name(asset) -%}
{%- if asset.category_name is not none -%}
{{- asset.category_name}}
{%- else %}
{{- asset.basename}}
{%- endif %}
{%- endmacro %}
