
    RMDir /r "$INSTDIR\{{ livery["dcs_airframe_codename"] }}\{{ livery["livery_base_dirname"] }}"
    {%- for pilot_dir in livery["livery_pilot_dirs"] %}
    RMDir /r "$INSTDIR\{{ livery["dcs_airframe_codename"] }}\{{ pilot_dir }}"
    {%- endfor %}