param($dcs_liveries_root_dir, $pilot)
#
# Red Star Liveries - Livery priorities
# This script changes the livery priorities based on user choice selected in the installer
#

#
# NO WARRANTY WHATSOEVER
#

# Exit on any error
$ErrorActionPreference = "Stop"


function DescriptionLuaReplace {
    param (
        $luafile,
        $pilot
    )
    if ("$pilot" -eq "-- STREAMER / YOUTUBER --" ){        
        Write-Host "Modifying livery file with priority 9999: $luafile"
        (Get-Content -path "$luafile") -replace '^order += +-?\d+','order = 9999' | Set-Content -Path "$luafile"
    } elseif ("$pilot" -eq "-- RS SQUAD BUT NOT IN LIST --" ) {
        # Do nothing if member is RS squad but not in list because Striker's layout already matches this
    } elseif ((Get-Item "$luafile").Directory | Split-Path -Leaf | Select-String -CaseSensitive -SimpleMatch "$pilot") {
        Write-Host "Modifying pilot file with priority -1000: $luafile"
        (Get-Content -path "$luafile") -replace '^order += +-?\d+','order = -1000' | Set-Content -Path "$luafile"
    } else {
        # Do nothing
    }
}

{% for livery in rs_liveries %}
DescriptionLuaReplace -pilot "$pilot" -luafile "$dcs_liveries_root_dir\{{ livery["dcs_airframe_codename"] }}\{{ livery["livery_base_dirname"] }}\description.lua"
    {%- for pilot_dir in livery["livery_pilot_dirs"] %}
DescriptionLuaReplace -pilot "$pilot" -luafile "$dcs_liveries_root_dir\{{ livery["dcs_airframe_codename"] }}\{{ pilot_dir }}\description.lua"
    {%- endfor %}
{%- endfor %}
{%- for livery in rsc_liveries %}
DescriptionLuaReplace -pilot "$pilot" -luafile "$dcs_liveries_root_dir\{{ livery["dcs_airframe_codename"] }}\{{ livery["livery_base_dirname"] }}\description.lua"
    {%- for pilot_dir in livery["livery_pilot_dirs"] %}
DescriptionLuaReplace -pilot "$pilot" -luafile "$dcs_liveries_root_dir\{{ livery["dcs_airframe_codename"] }}\{{ pilot_dir }}\description.lua"
    {%- endfor %}
{%- endfor %}
