; rs-skins.nsi

;--------------------------------
;Include Modern UI
!include MUI2.nsh
; LogicLib is a requirement for nsDialogs (I think...)
!include LogicLib.nsh
!include nsDialogs.nsh

;--------------------------------

;--------------------------------

; This might help with large installs
FileBufSize 256

; Let's compress as much as possible. /GLOBAL breaks the installer. Too many big files!
; SetCompressor /FINAL zlib
SetCompressor /FINAL lzma

; LZMA compression only
SetCompressorDictSize 128


; The name of the installer
Name "RS Skins"
VIProductVersion ${VERSION}

; The file to write
OutFile "RS Skins.exe"

; Request application privileges for Windows Vista
RequestExecutionLevel user

; Build Unicode installer
Unicode True

Var Dialog
Var Label
Var Pilot
Var PilotSelected


Function nsDialogsPage
	nsDialogs::Create 1018
	Pop $Dialog

	${If} $Dialog == error
		Abort
	${EndIf}

	${NSD_CreateLabel} 0 0 100% 12u "Who are you?"
	Pop $Label
	${NSD_CreateDropList} 0 20 100% 12u ""
	Pop $Pilot
  ${NSD_CB_AddString} $Pilot "-- RS SQUAD BUT NOT IN LIST --"
  ${NSD_CB_AddString} $Pilot "-- STREAMER / YOUTUBER --"
  {%- for pilot in pilots %}
  ${NSD_CB_AddString} $Pilot "{{ pilot | trim }}"
  {%- endfor %}

	nsDialogs::Show
FunctionEnd

Function nsDialogsPageLeave
	${NSD_GetText} $Pilot $PilotSelected
FunctionEnd

Function .onInit
  # Detect which Save/liveries directory to use. If multiple exist, use the most bottom one from this list.
  ${If} ${FileExists} "$PROFILE\Saved Games\DCS"
    StrCpy $InstDir "$PROFILE\Saved Games\DCS\Liveries"
  ${ElseIf} ${FileExists} "$PROFILE\Saved Games\DCS.openbeta"
    StrCpy $InstDir "$PROFILE\Saved Games\DCS.openbeta\Liveries"
  ${EndIf}
FunctionEnd

;--------------------------------

!insertmacro MUI_PAGE_DIRECTORY
Page custom nsDialogsPage nsDialogsPageLeave
!insertmacro MUI_PAGE_COMPONENTS
!insertmacro MUI_PAGE_INSTFILES

!insertmacro MUI_LANGUAGE "English"
!insertmacro MUI_COMPONENTSPAGE_NODESC
;--------------------------------

; Old and unused skin folder names are OK to remain in the cleanup list. We want to reduce clutter for the user


Section "Delete Red Star Liveries"
    RMDir /r "$INSTDIR\RED STAR BIN"
  {%- for livery in rs_liveries %}
    RMDir /r "$INSTDIR\{{ livery["dcs_airframe_codename"] }}\{{ livery["livery_base_dirname"] }}"
    {%- for pilot_dir in livery["livery_pilot_dirs"] %}
    RMDir /r "$INSTDIR\{{ livery["dcs_airframe_codename"] }}\{{ pilot_dir }}"
    {%- endfor %}
  {%- endfor %}
  {%- for livery in rsc_liveries %}
    RMDir /r "$INSTDIR\{{ livery["dcs_airframe_codename"] }}\{{ livery["livery_base_dirname"] }}"
    {%- for pilot_dir in livery["livery_pilot_dirs"] %}
    RMDir /r "$INSTDIR\{{ livery["dcs_airframe_codename"] }}\{{ pilot_dir }}"
    {%- endfor %}
  {%- endfor %}
SectionEnd


Section "!Red Star Required Assets"
    SetOutPath $INSTDIR
    File /r "RED STAR BIN"
SectionEnd

SectionGroup "Red Star"
  {%- for livery in rs_liveries %}
  Section "{{ livery["livery_base_dirname"] }}"
    SetOutPath $INSTDIR\{{ livery["dcs_airframe_codename"] }}
    File /r "{{ livery["dcs_airframe_codename"] }}\{{ livery["livery_base_dirname"] }}"
    {%- for pilot_dir in livery["livery_pilot_dirs"] %}
    File /r "{{ livery["dcs_airframe_codename"] }}\{{ pilot_dir }}"
    {%- endfor %}
  SectionEnd 
  {%- endfor %}
SectionGroupEnd

SectionGroup "Red Star BLACK SQUADRON"
  {%- for livery in rsc_liveries %}
  Section "{{ livery["livery_base_dirname"] }}"
    SetOutPath $INSTDIR\{{ livery["dcs_airframe_codename"] }}
    File /r "{{ livery["dcs_airframe_codename"] }}\{{ livery["livery_base_dirname"] }}"
    {%- for pilot_dir in livery["livery_pilot_dirs"] %}
    File /r "{{ livery["dcs_airframe_codename"] }}\{{ pilot_dir }}"
    {%- endfor %}
  SectionEnd 
  {%- endfor %}
SectionGroupEnd

Section "!Modify Pilot Priority"
  SetOutPath "$PLUGINSDIR\NSISTemp"
  File /oname=$PLUGINSDIR\rs-skins-pilot-priorities.ps1 rs-skins-pilot-priorities.ps1
  nsExec::ExecToStack 'powershell -inputformat none -ExecutionPolicy RemoteSigned -File "$PLUGINSDIR\rs-skins-pilot-priorities.ps1" -dcs_liveries "$InstDir" -pilot "$PilotSelected"  '
  ; MessageBox MB_OK "$PilotSelected"
SectionEnd
